<html>
<title>AMO Graphite</title>
<head>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
</head>
<body>
<div class="container-fluid">
  <h1>AMO: Graphite for {{ site }}</h1>
  <ul>
    {% for site in sites %}
      <li><a href="?site={{ site }}">{{ site }}</a></li>
    {% endfor %}
  </ul>
  <ul>
    {% for slug, name, graph in graphs %}
    <li><a href="#{{ slug }}">{{ name }}</a></li>
    {% endfor %}
  </ul>
  {% for slug, name, gs in graphs %}
    {% for g in gs %}
    <h2><a id="{{ slug }}">{{ name }}</a></h2>
    <img class="fifteen" src="{{ base }}&{{ g }}&{{ fifteen }}">
    <img class="hour" src="{{ base }}&{{ g }}&{{ hour }}">
    <img class="day" src="{{ base }}&{{ g }}&{{ day }}">
    <img class="week" src="{{ base }}&{{ g }}&{{ week }}">
    {% endfor %}
  {% endfor %}
</div>
</body>
</html>
