<html>
<title>AMO Graphite</title>
<head>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
</head>
<body>
  <div class="container-fluid">
  <h1><a href="{% url home %}">AMO</a>: Graphite for {{ site }}</h1>
  <p>
    {% for site in sites %}
      <a href="?site={{ site }}&graph={{ defaults.graph }}">{{ site }}</a> |
    {% endfor %}
  </p>
  <hr/>
  <p>
    {% for slug, name, graph in graphs %}
      <a href="?site={{ defaults.site }}&graph={{ slug }}">{{ name }}</a> |
    {% endfor %}
  </p>
    <h2><a id="{{ graph.slug }}">{{ graph.name }}</a></h2>
    <img class="fifteen" src="{{ base }}&{{ graph.url.0 }}{{ graph.updates }}&{{ fifteen }}">
    <img class="hour" src="{{ base }}&{{ graph.url.0  }}{{ graph.updates }}&{{ hour }}">
    <img class="day" src="{{ base }}&{{ graph.url.0  }}{{ graph.updates }}&{{ day }}">
    <img class="week" src="{{ base }}&{{ graph.url.0  }}{{ graph.updates }}&{{ week }}">
    <img class="month" src="{{ base }}&{{ graph.url.0  }}{{ graph.updates }}&{{ month }}">
    <img class="3month" src="{{ base }}&{{ graph.url.0  }}{{ graph.updates }}&{{ 3month }}">
</div>
</body>
</html>
